@use "../abstracts/variables" as *;@use "sass:color";

.iconNav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  svg {
    color: $accent-color-lighter;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;

    // &:hover {
    //   color: $cursor-color; // Change color on hover
    //   transform: scale(1.2); // Scale up by 20%
    // }

    &:hover {
      color: color.scale($accent-color-lighter-01, $lightness: 20%);
      transform: scale(1.2) rotate(5deg); // Scale up and rotate 5 degrees
    }
  }
}

.heart-container {
  position: relative;
  display: flex;
}

.heart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: $color-price;
  color: $color-text-inverse;
  border-radius: 50%;
  font-size: 0.6rem;
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
