@use "../abstracts/variables" as *;@use "sass:color";

.container_search_input {
  display: inline-block;
  background-color: $gray-color-inste-01;
  border-radius: 12px;
  padding: 8px 16px;
  width: 100%;
  max-width: 500px;

  input::placeholder {
    color: $gray-color-inste-02; 
  }

  input:hover {
    border-color: $color-variant-end;
  }
}

.search_input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: $color-grey-01;

  &::placeholder {
    color: $color-grey-02;
  }
}
