@use "../abstracts/variables" as *;@use "sass:color";


.star-rating {
  display: flex;
  font-size: 2rem;
  color: $gray-color;
}

.star {
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.full {
  color: $yellow-color;
}

.half {
  background: linear-gradient(90deg, $yellow-color 50%, $gray-color 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
